
*{
    margin: 0px;
    padding: 0px;
}

.myMargin{
    margin: 15px;
}




h4{
    color:rgb(30, 228, 89)
    }
    .a{
        color: rgb(41, 185, 185);
    }
    #j{
        color: rgb(153, 34, 34);
    }
    
