<div class="header">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">Car-Folio</a>

    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="specs">Specs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>